:root {
  --color-border: rgba(255, 255, 255, 0.25);
  --color-link: #8e94ff;
  --color-link-active: #caccff;

  background-color: #212121;
  color: rgba(255, 255, 255, 0.85);
  color-scheme: light dark;

  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  font-synthesis: none;
  font-weight: 400;
  line-height: 1.5;
  text-rendering: optimizeLegibility;
  -webkit-text-size-adjust: 100%;
}

body {
  display: flex;
  flex-direction: column;
  margin: 0;
  min-height: 100vh;
}

a {
  color: var(--color-link);
  font-weight: 500;
  text-decoration: inherit;
}

a.active {
  color: var(--color-link-active);
  font-weight: bold;
}

@media (prefers-color-scheme: light) {
  :root {
    --color-border: rgba(0, 0, 0, 0.15);
    --color-link: #646cff;
    --color-link-active: #3d46eb;

    background-color: #ffffff;
    color: #213547;
  }
}

.root-nav {
  border-bottom: 1px solid var(--color-border);
  display: flex;
  padding: 20px;
  gap: 20px;
}

.root-content {
  padding: 20px;
}
